    body {
        background-color: #76949F;
        padding: 3%;
    }

    p, h2{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position:relative;
        left: 5px;
    }

    #minha-foto{
        float: left;
        height: 226px;
        padding: 5px;
        background-color: black;
    }

    .image-container{
        height: 235px;
        position: relative;
    }

    ul li:nth-child(odd){
        background-color: aqua;
    }
  
    .meunome {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .hardskills {
        border-radius: 100%;
        width: 50px;
    }